html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
h1 { margin-bottom: 0; }
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inputPoblacio { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
#icoPronostic { width: auto; height: 128px; display: none; }
.dades > span { font-weight: bold; }